#buttons{
    padding-left: 200px; 
}
#screen{
    padding-left: 50px;
}
button{
    margin: 20px;
}
#display{
    background-color: black;
    position: absolute;
    width: 660px;
    height: 380px;
    z-index: 100;
    top: 45px;
    left: 200px;
}

#trivia{
    color: purple;
    font-size: 25px;
    padding: 5px;
}
#choiceA{
    color: red;
    padding: 5px;
}
#choiceB{
    color: blue;
    padding: 5px;
}
#choiceC{
    color:green;
    padding: 5px;
}
#choiceD{
    color:white;
    padding: 5px;
}
#totalCorrect{
    color:gold;
    font-size: 25px;
    padding: 5px;
}
#totalWrong{
    color:gray;
    font-size: 25px;
    padding: 5px;
}
#timer{
    color:orange;
    font-size: 25px;
    padding: 5px;
}